body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.location-info {
  position: absolute;
  top: 85px;
  width: 240px;
  min-height: fit-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.location-info ul {
  list-style: none;
  padding: 0;
}

.location-info ul li {
  padding: 5px 0;
}

.header {
  background-color: rgba(178, 34, 34, 0.6);
  border-radius: 10px;
  position: fixed;
  padding: 0 10px;
  top: 0;
  z-index: 1;
}

.header {
  text-align: center;
}
